@model Assignment_12.Models.Product;

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
                <td>$@Html.DisplayFor(model => model.Price)</td>
            </tr>
        </tbody>
        
    </table>
</div>